---
layout: default
---

<div class="container max-w-4xl mt-6  px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-5xl">{{title}}</h1>
        <p class="text-center text-base leading-6 font-medium text-gray-500">
        </p>

    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        <div>{{ content | safe }}</div>
        <div>
        {%for image in images%}
        <figure class="x xtext-center">
            {% image image.image, image.caption, "border object-fill w-full my-1 lg:my-1", "(min-width: 30em) 50vw, 100vw" %}</a>  
            <figcaption class="m-0">{{image.caption}}</figcaption>  
        </figure>
        {%endfor%}
        </div>
        <div>
            {{ credits| md | safe }}
        </div>

    </article>

</div>
