@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
@layer base {
  /* @font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url(/fonts/proxima-nova/400-regular.woff) format("woff");
  } */
  h1 {
    @apply text-4xl font-thin tracking-wider mb-3 text-center lg:text-7xl;
  }

  h3 {
    @apply text-2xl font-bold mb-3;
  }

  [x-cloak] {
    display: none !important;
  }
  [id] {
    scroll-margin-top: 2ex;
  }
  :target {
    /* text-decoration: underline;
    text-decoration-thickness: 2ex;
    text-decoration-color: #c4e4fb;
    text-decoration-skip-ink: none;
    text-underline-offset: -2.8ex; */

    text-shadow: red 0 0 2rem;
    color: white !important;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

}

@layer components {
  .btn-blue {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}
@layer utilities {
  @variants responsive {

  }
  @variants dark, focus, hover {
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
    .filter-xerox {
      mix-blend-mode: screen;
      filter: invert(0) grayscale(100%) contrast(500%);
    }
    .filter-xerox-new {
      mix-blend-mode: color;
      filter: invert(1) grayscale(100%) contrast(500%) sepia(100%) saturate(400%) hue-rotate(45deg);
    }
  }
}

  /*****   SNIPCART CUSTOMIZATION *****/
  #snipcart.snipcart * {
    @apply font-sans font-light tracking-wider;
  }
  #snipcart.snipcart .snipcart-cart-button--highlight, #snipcart.snipcart .snipcart__box--badge-highlight {
    background-image: none;
    @apply bg-ms-green;
  }

  #snipcart.snipcart .snipcart__font--black {
    @apply font-light tracking-wider;
  }

  #snipcart.snipcart .snipcart-cart__secondary-header {
    @apply bg-ms-green;
  }

