---
layout: default
title: Macro-Sea
path: home
---

<div class="mx-auto md:mx-3 md:flex flex-row flex-wrap justify-between items-center content-start" data-tw-save="tooltip tooltip-top-big tooltip-bottom-big tooltip-inside tooltip-bottom">
  {% for thing in collections.ordered_projects  %}{% if thing.data.draft != true %}
    {%set image = thing.data.images[0] %}
    <figure class="figure-thumb" data-tags="{{thing.data.tags}}">
      <a href="{{thing.url}}" class="tooltip tooltip-top-big" data-tooltip="{{thing.data.title}}">
        <div class="bg-gray-200 hover:filter-y hover-target h-40">
          {# {% image image.image, thing.data.title, " object-fill md:h-40 2xl:h-60 w-auto -square- xmd:h-40 xmd:w-40 x2xl:w-60 xmd:object-cover", "(min-width: 1540px) 500px, (min-width: 780px) 300px, 100vw" %} #}
          {% image image.image, thing.data.title, " object-fill md:h-40 2xl:h-60 w-auto -square- md:h-40 md:w-40 2xl:w-60 md:object-cover", "(min-width: 1540px) 240px, (min-width: 780px) 160px, 100vw" %}
        </div>
      </a>  
      <figcaption>{{ helpers.npad(loop.index) }}</figcaption>
    </figure>
  {% endif %}{% endfor %}
  {% for thing in collections.products%}
    {%if thing.data.images[0] %}
    {%set image = thing.data.images[0] %}
    <figure class="figure-thumb">
      <a href="{{thing.url}}" class="tooltip tooltip-top-big" data-tooltip="{{thing.data.title}}">
        <div class="bg-ms-primary hover:filter-y hover-target">
          {% image image.image, thing.data.title, " object-fill md:h-40 2xl:h-60 w-auto -square- md:h-40 md:w-40 2xl:w-60 md:object-cover", "(min-width: 1540px) 500px, (min-width: 780px) 300px, 100vw" %}
        </div>
      </a>  
      <figcaption>${{thing.data.price}}</figcaption>
    </figure>
    {%endif%}
  {% endfor %}


  {%for i in range(1,12) %}
    <figure class="figure-thumb">
    <i aria-hidden class="invisible hidden md:block border-red-200 border-2 w-1/5 h-auto -square- md:w-40 2xl:w-60"> </i>
    </figure>
  {% endfor %}
</div>
