---
layout: default
title: Macro-Sea
path: home
---

<div class="container mx-auto lg:h-screen flex flex-row justify-between items-center">
  {% for project in collections.projects %}
    <a href="{{project.url}}"><article class="border w-full md:w-1/5 h-20 p-4">
      <h4>{{project.data.title}}</h4>

      {% image project.data.images[0].image, project.data.images[0].caption, "border", "(min-width: 30em) 50vw, 100vw" %}

      {# {% respimg 
    project.data.images[0].image, 
    project.data.images[0].caption, 
    "",
    { small: 320, med: 640, large: 1024 },
    "(min-width: 450px) 33.3vw, 100vw",
    "border",
    "1024",
    "768"
%}{% endrespimg %} #}
      
      {# <div>{{project.templateContent | safe }}</div> #}

    </article></a>
  {% endfor %}
</div>

<div class="container mx-auto lg:h-screen flex flex-row justify-between items-center">
  Products: {% for product in collections.products%}
    <a href="{{product.url}}"><article class="border w-full md:w-1/5 h-20 p-4">
    {{product.data.title}} / ${{product.data.price}}
    </article></a>
  {% endfor %}
</div>