---
layout: default
title: Macro-Sea
path: home
---

<div class="container mx-auto flex flex-row flex-wrap justify-between items-center content-start">
  {% for project in collections.projects %}
    {%for image in project.data.images %}
    <figure class="center">
          <a href="{{project.url}}">{% image image.image, image.caption, "border object-fill max-h-32 w-auto m-3", "(min-width: 30em) 50vw, 100vw" %}</a>  
          <figcaption class="center">{{loop.index}}x</figcaption>  
      {# <div>{{project.templateContent | safe }}</div> #}
    </figure>
    {%endfor%}
  {% endfor %}
</div>

<div class="container mx-auto lg:h-screen flex flex-row justify-between items-center">
  Products: {% for product in collections.products%}
    <a href="{{product.url}}"><article class="border w-full md:w-1/5 h-20 p-4">
    {{product.data.title}} / ${{product.data.price}}
    </article></a>
  {% endfor %}
</div>