<div class="{{ 'lg:sticky lg:top-0' if path == 'home' }} sticky top-0 w-full {{'bg-ms-bg' if isproject != true}} {{'bg-ms-green' if istag == true}} text-sm md:text-lg lg:text-3xl z-10">
    <nav class="xcontainer flex items-center justify-center align-top lg:justify-between flex-wrap py-1 lg:py-3 lg:px-0 mx-auto" x-data="{ isOpen: false, menuIsOpen: false, projectListIsOpen: true, infoTabIsOpen: false }" @keydown.escape="isOpen = false; menuIsOpen = false" x-bind:class="{ 'bg-ms-green text-ms-blue': isOpen }">
        <!--Logo etc-->
        <div class="flex items-center xw-1/3 text-right pl-2 md:pl-6">
            <a href="/" class="xtext-gray-500">
                <svg viewBox="0 0 76 35"  class="fill-current" style="width:2em; height:1em;"><use xlink:href="#logo" x="0" y="0" /></svg>
            </a>
        </div>

        <!--Toggle button (hidden on large screens)-->
        <button @click="isOpen = !isOpen" type="button" class="{{ 'invisible' if nomenu == true }} m-auto max-w-screen-sm flex justify-center align-bottom block xtext-gray-500 focus:outline-none focus:text-primary-500" :class="{ 'transition transform-180': isOpen }" aria-label="Menu">
            <div>SORT BY THINGS THAT <span class="xborder-b border-current min-w-2/5 mx-0 uppercase text-sm">{{tag | default('...') | safe }}</span></div>
        </button>

        <div class="flex justify-end xw-1/3 pr-2 md:pr-6 z-30">
            <div>
                <button hidden class="snipcart-checkout px-2">$<sup class="text-xs md:text-sm text-ms-primary">(<span class="snipcart-items-count"></span>)</sup></button>
            </div>
            <button @click="menuIsOpen = !menuIsOpen" type="button" class="focus:outline-none focus:text-primary-500" :class="{ 'transition transform-180 text-ms-blue': menuIsOpen }" aria-label="Menu">
                <svg x-show="menuIsOpen" class="fill-current" viewBox="0 0 35 35" style="width:1em; height:1em;"><use xlink:href="#cross" x="0" y="0" /></svg>
                <svg x-show="!menuIsOpen" class="fill-current" viewBox="0 0 35 35" style="width:1em; height:1em;"><use xlink:href="#hamburger" x="0" y="0" /></svg>
            </button>

        </div>
       
        <!--Things Menu-->
        <div class="xabsolute xtop-12 bg-ms-green w-full flex-grow xlg:flex xlg:items-center xlg:w-auto xtext-center" :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }" @click.away="isOpen = false" x-show.transition="true" x-cloak>

                <ul class="py-6 lg:py-3 list-reset xlg:flex justify-center flex-1 xitems-center flex-wrap w-96 mx-auto">
                    {%for item in helpers.collectionTags(collections.projects,collections) %}
                        <li class="nav__item mr-3 text-sm md:text-sm lg:text-sm">
                            <a @click="isOpen = false" class=" uppercase inline-block no-underline hover:text-ms-primary py-0 px-4 " href="/things-that/{{helpers.slug(item) }}">{{ item }}</a>
                        </li>
                    {%endfor%}
                        <li class="nav__item mr-3 text-sm md:text-sm lg:text-sm">
                            <a @click="isOpen = false" class=" uppercase inline-block no-underline hover:text-ms-primary py-0 px-4 " href="/things-that/you-can-buy">you can buy</a>
                        </li>
                        <li class="nav__item mr-3 mt-3 text-sm md:text-sm lg:text-sm">
                            <a @click="isOpen = false" class=" uppercase inline-block no-underline hover:text-ms-primary py-0 px-4 " href="/">All</a>
                        </li>
                </ul>
        </div>

        <!-- Hamburger Menu -->
        <div class="absolute w-full md:w-1/3 h-screen min-w-max bg-ms-brown z-20 right-0 top-0 text-ms-blue xpy-1 xlg:py-3 lg:px-0 mx-auto" :class="{ 'block shadow-3xl': menuIsOpen, 'hidden': !menuIsOpen }" @click.away="menuIsOpen = false" x-show.transition="true" x-cloak>

            <ul class="pt-0 lg:pt-0 list-reset lg:flex justify-left flex-1 items-center">
                <li class="nav__item mr-3 pt-1">
                    <a @click="projectListIsOpen = true; infoTabIsOpen = false;" class="text-ml inline-block no-underline hover:text-ms-primary py-2 px-4 uppercase op" :class="{'opacity-70':projectListIsOpen}" href="#">Projects</a>
                    <a @click="infoTabIsOpen = true; projectListIsOpen = false;" class="text-ml inline-block no-underline hover:text-ms-primary py-2 px-4 uppercase" :class="{'opacity-70':infoTabIsOpen}" href="#">Info</a>
                </li>
            </ul>

            <div class="font-thin text-xs" x-show="projectListIsOpen">
                <ul class="py-6 lg:py-3 list-reset justify-left flex-1 xitems-center flex-wrap xw-96 mx-auto">
                {%for item in collections.projects %}
                    <li class="nav__item mr-3 text-sm md:text-sm lg:text-sm">
                        <a @click="isOpen = false" class=" uppercase inline-block no-underline hover:text-ms-primary py-0 px-4 " href="{{item.url}}">{{ item.data.title }}</a>
                    </li>
                {%endfor%}
                </ul>              
            </div>
            <div class="font-thin text-sm md:text-sm lg:text-sm ml-4 pt-4 prose text-ms-blue w-96" x-show="infoTabIsOpen">
                {{ settings.info | md | safe }}
            </div>

            </article>

        </div>
    </nav>
</div>